# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore IDE-specific project files
.idea/
*.iml

# Configuration files
**/.env

# Database files
**/*.db
**/*.db-shm
**/*.db-wal
