# Port that the server should run on
PORT=6767
# Secret key for token signing and verification
SECRET_KEY=your_secret_key_here
# Pepper used for password hashing
PEPPER=your_pepper_here
# Password of the SSL certificate (keystore)
KEYSTORE_PASSWORD=changeit
# Location of the SSL certificate (keystore)
KEYSTORE_LOCATION=keystore.jks
# Where the SQLite database file is located
DB_URL=jdbc:sqlite:unitodo.db
# How long tombstones should be kept on the server in days
TOMBSTONE_TTL=30
# Whether the server should run using HTTPS or HTTP
USE_HTTPS=true