# Port that the server should run on
PORT=6767
# Secret key for token signing and verification
SECRET_KEY=your_secret_key_here
# Pepper used for password hashing
PEPPER=your_pepper_here
# Password of the SSL certificate (keystore)
KEYSTORE_PASSWORD=changeit
# Location of the SSL certificate (keystore)
KEYSTORE_LOCATION=keystore.jks